@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
/** @format */ /** @format */
.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: #e6dbca;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .widget {
  margin: 5px;
  padding: 10px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #4a4a4a;
  background-color: #f8e4c4;
}

/** @format */
.location {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #4a4a4a;
}
.location form {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.location form input {
  margin: 0;
  padding: 5px;
  width: 100%;
  font-size: 1.2rem;
  height: 3rem;
  font-family: inherit;
  border-radius: 10px;
  border: 3px dashed #4a4a4a;
  background-color: #e6dbca;
}
.location form .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
}
.location form .buttons button {
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  border: 3px dashed #4a4a4a;
  background-color: #f8e4c4;
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.location form .buttons button:first-child {
  background-image: url(../img/cross.svg);
}
.location form .buttons button:last-child {
  background-image: url(../img/search.svg);
}
.location p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #4a4a4a;
}
.location p span {
  font-weight: 600;
}
.location p .error {
  color: #c8553d;
}

.weather_current_day {
  margin-top: 1rem;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid #4a4a4a;
}
.weather_current_day .curent_day_temperature {
  width: 40%;
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px dashed #4a4a4a;
}
.weather_current_day .curent_day_temperature p:first-child {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 600;
}
.weather_current_day .curent_day_temperature p:last-child {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5em;
}
.weather_current_day .current_day_weather {
  padding-right: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px dashed #4a4a4a;
}
.weather_current_day .current_day_weather p:first-child {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 600;
}
.weather_current_day .current_day_weather p:last-child {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5em;
}
.weather_current_day .current_day_img {
  padding: 5px;
  width: 25%;
  height: 100px;
  border-radius: 10px;
  border: 3px dashed #4a4a4a;
  box-shadow: 3px 3px 5px #4a4a4a;
  background-color: #f5deb3;
  border-radius: 10px;
  border: 3px dashed #4a4a4a;
}
.weather_current_day .current_day_img img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px #4a4a4a);
}

.weather_nextdays {
  height: 400px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 5px;
  outline: 3px dashed #4a4a4a;
  outline-offset: 3px;
  border-radius: 5px;
  scrollbar-width: auto;
  scrollbar-color: #e6dbca #f5deb3;
}
.weather_nextdays::-webkit-scrollbar {
  width: 10px;
}
.weather_nextdays::-webkit-scrollbar-track {
  background: #e6dbca;
}
.weather_nextdays::-webkit-scrollbar-thumb {
  background-color: #f5deb3;
  border-radius: 50px;
  border: 2px solid #4a4a4a;
}
.weather_nextdays .weather_nextdays_day {
  margin-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 4px solid #4a4a4a;
}
.weather_nextdays .weather_nextdays_day:last-child {
  border: none;
}
.weather_nextdays .weather_nextdays_day .day_name {
  width: 15%;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  border-right: 2px dashed #4a4a4a;
}
.weather_nextdays .weather_nextdays_day .day_weather_img {
  padding: 5px;
  width: 20%;
  height: 80px;
  box-shadow: 3px 3px 5px #4a4a4a;
  background-color: #f5deb3;
  border-radius: 10px;
  border: 3px dashed #4a4a4a;
}
.weather_nextdays .weather_nextdays_day .day_weather_img img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px #4a4a4a);
}
.weather_nextdays .weather_nextdays_day .day_weather_status {
  padding: 10px;
  width: 30%;
  text-align: center;
  border-right: 2px dashed #4a4a4a;
  border-left: 2px dashed #4a4a4a;
}
.weather_nextdays .weather_nextdays_day .day_temperature {
  width: 20%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Old Stendart TT;
  font-style: italic;
}