/** @format */

$backgroind_color_hard: #f5deb3;
$backgroind_color_main: #f8e4c4;
$backgroind_color_lite: #e6dbca;
$old_black: #4a4a4a;
$border_dashed: 2px dashed $old_black;
$border_solid: 4px solid $old_black;
$shadow_img: drop-shadow(2px 2px 2px $old_black);
